.login__link {
  width: 358px;
  max-width: 358px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 186px;
  transition: all 0.5s ease;
  /* margin-bottom: 112px; */
}

.login__link:hover {
  opacity: 0.85;
}

@media screen and (max-width: 450px) {
  .login__link {
    width: 260px;
    max-width: 260px;
  }
}
