.element__like {
  background-color: #fff;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 22px;
  min-height: 19px;
  margin: 0;
  font-size: 19px;
  border: none;
}
.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
